*{font-family: 'Helvetica Neue',
               'Helvetica',
               'PingFang SC',
               'Hiragino Sans GB','Microsoft YaHei',
               'Noto Sans CJK SC',
               'WenQuanYi Micro Hei','Arial',sans-serif;
  background-color:#ffffff;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
}

#create-project-form{
    margin: 10px; padding: 0px;
}

#project-info{
    border-bottom: 1px #dddddd solid;
    margin:10px;
}

#building-info{
    border-bottom: 1px #dddddd solid;
    margin:10px;
}

#glass-info{
    border-bottom: 1px #dddddd solid;
    margin:10px;
}

.bootstrap-table{
    margin: 10px;
}

.fixed-table-container{
    margin: 10px;
}

.borderFrame{
    border: 1px #dddddd solid;
    border-radius: 3px;
    margin:10px;
}

.title {
    border-bottom: 1px #dddddd solid;
    margin: 10px;
}

p{
    font-weight: lighter;
    color: #666666
}
h3{
    font-weight:lighter;
    font-size : 30px;
}
h4{
    font-weight:lighter;
    font-size : 18px;
}
th{
    font-weight: lighter;
    text-align: left;
    font-size : 15px;
}
thead tr th{
    height:30px;
}

#submit-btn{
    border: 1px #dddddd solid;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    background-color: #dddddd;
}

#submit-btn:hover{
    background-color: #cccccc;
    transition: background-color 0.5s
}
 
#building-info #text-edit{
    width:60px;
}

#hint{
    filter:alpha(opacity=99);
    -moz-opacity:0.99;
    -khtml-opacity: 0.99;
    opacity: 0.99;
    font-size : 14px;
}

.suchint-show {
    color : #43CD80;
    transition: all 1s
}

.suchint-hide {
    color : #ffffff;
    transition: all .5s
}

.errhint-show {
    color : #CD0000;
    transition: all .5s
}

.errhint-hide {
    color : #ffffff;
    transition: all .5s
}

table{
    margin: 0px;
}
input{
    width: 60px;
}
.bootstrap-table {
    margin-left:0px;
}
.search{
    margin-right:10px;
}
.fixed-table-pagination{
    margin:10px;
}
