@media print {

    body * {
        visibility: hidden;
    }

    .section-to-print, .section-to-print * {
        visibility: visible;
    }

    .section-to-print {
        position: absolute;
        top: 0;
        left: 10%;
        right: 10%;
        width: 7.5in;
    }

    .print-body {
        text-align: center;

    }

    .print-title {
        text-align: center;
    }

    .print-footer {
        text-align: end;
    }
}