@media print {

    body * {
        visibility: hidden;
    }

    .section-to-print, .section-to-print * {
        visibility: visible;
    }

    .section-to-print {
        margin: 0 auto;
        top: 0;
        left: 2%;
        right: 2%;
        width: 210mm;
    }

    .print-body {
        text-align: center;

    }

    .print-title {
        text-align: center;
    }

    .print-footer {
        text-align: end;
    }
}