*{font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
}

body{
     background-color : #dddddd;
}

table{
    width : 960px;
    table-layout:fixed;
    word-break:break-all;
}

td{
   text-align : center;
   width : 25%;
   height : 240px;
}

.card{
     background-color:#efefef;
     margin-top: 20px;
     padding-bottom : 10px;
     margin: 10px;
     text-align: center;
     width : 180px;
     height : 200px;
     box-shadow: 4px 4px 2px #888888;
     transition : all .5s ;
}

.card:hover{
     background-color:#ffffff;
     width : 190px;
     height : 210px;
     transition : all .5s ;
}


.card .card-img{
    margin-top : 20px;
}

h3{
    font-weight:lighter;
    color: #222;
    font-size: 20px;
    margin: 40px auto 0px auto;
}

h4{
    margin: 8px;
    text-align : left;
    font-weight:lighter;
    color: #222;
    font-size: 12px;
    padding-left : 10px;
}
