*{font-family: 'HanHei SC', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
}

#project-info-table{
    margin-left : 5%;
    width : 80%;
    border : 1px solid #cccccc;
    border-radius : 3px;
    padding-bottom : 10px;
}


#table-head{
    font-size : 30px;
    text-align : center;
    color : #999;
    font-weight : lighter;
    border-bottom : 1px solid #cccccc;
    height : 20%;
    margin-bottom : 10px;
}

#functionalBtnsContainer{
    background-color: #efefef;
}

#insertBtn{
    margin-left : 94%;
    margin-bottom : 3px;
    width : 45px;
    height : 25px;
    text-align : center;
    background-color : #ffffff;
    font-weight : lighter;
    font-size : 10px;
    border : 1px solid #7F7F7F;
    border-radius : 1px;
    transition : all .5s;
    margin-top : 10px;
}

#insertBtn:hover{
    font-size: 13px;
    transition : all .5s;
}

.check-box{
    width: 80px;
    position: relative;
    font-size : 14px;
}

.check-box label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}

.check-box label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    background: transparent;
    top: 5px;
    left: 5px;
    border: 2px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.check-box label:hover::after {
    opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.check-box input[type=checkbox]:checked + label:after {
    opacity: 1;
}

#add-btn{
    background-color : #7CCD7C;
    width : 40px;
    height: 24px;
    border-radius : 2px;
    position: relative;
    transition : background-color .5s;
}

#add-btn:hover{
    background-color : #8CDD8C;
    transition : background-color .5s;
}

#add-btn:active{
    background-color : #6CBD6C;
    transition : background-color .5s;
}

#add-btn #horizontal{
    border-top : 2px solid #666;
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
    width : 18px;
    height : 3px;
}



#add-btn #vertical{
    position: absolute;
    border-left : 2px solid  #666;
    margin-top: 2px;
    margin-left: 19px;
    height : 18px;
    width : 3px;
}

#pop-up-dialog-modal{
    width: 600;
    height : 360;
    border : 1px solid #ccc;
    border-radius : 3px;
}

#modal-dialog-title{
     border : none;
     border-bottom : 1px solid #ccc;
     border-radius : 3px;
}

 h3{
     margin-top:3px;
     margin-bottom : 6px;
     font-weight:lighter;
     color: #999;
     font-size: 28px;
 }

 h4{
     margin-top : 3px;
     margin-bottom : 10px;
     font-weight:lighter;
     color: #999;
     font-size: 13px;
 }

 .line-edit{
     border: 1px solid #888;
     height: 25px;
     border-radius: 6px;
     outline: none;
     box-shadow: none;
     outline-style: none;
 }

 .line-edit:hover{
     border-color: #66CDAA;
     transition: all 0.5s
 }

 .line-edit:focus{
     border-color: #6495ED;
 }

 .long-text{
    width : 100px;
 }

 .short-text{
    width : 80px;
 }

 .functionbtn{
     border: 1px #dddddd solid;
     border-radius: 4px;
     width: 100px;
     height: 30px;
     background-color: #dddddd;
     margin : auto 10px auto 10px
 }

.functionbtn:hover{
     background-color: #cccccc;
     transition: background-color 0.5s
 }

#hint{
    text-align : center;
    margin : 0px;
    filter:alpha(opacity=99);
    -moz-opacity:0.99;
    -khtml-opacity: 0.99;
    opacity: 0.99;
    font-size : 14px;
}

 .suchint-show {
     color : #43CD80;
     transition: all 1s
 }

 .suchint-hide {
     color : #ffffff;
     transition: all .5s
 }

 .errhint-show {
     color : #CD0000;
     transition: all .5s
 }

 .errhint-hide {
     color : #ffffff;
     transition: all .5s
 }