<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet", href="/stylesheets/homepage.css">
</head>
<body>
    <div class ="main-content">
        <div class = "title">
            <h2 id = "homepage-title">欢迎使用</h2>
        </div>
        <br>
        <br>
        <div class = "image-board">
            <img src="/images/systemboard.png", id = "image-board-img">
        </div>
    </div>
    <script type="text/javascript", src="/jquery/dist/jquery.js"></script>
    <script type="text/javascript", src="/javascripts/homepage.js"></script>
</body>
</html>