<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet", href="/stylesheets/projectInformations.css">
</head>
<body>
<div id = "main-content">
    <div id = "left-nav">
        <ul id = "nav-ul">
            <li id = "nav-create-li" class = "nav-li" value="1"> 新建项目</li>
            <li id = "nav-check-li" class = "nav-li" value="2"> 查看/添加</li>
        </ul>
    </div>
    <div id= "right-content">
        <div id = "proj-name" title = "" style="display:none"></div>
        <div id = "usage", title = "" style="display : none"></div>
        <iframe id = "dynamic-frame", frameborder = 0 scrolling="yes"></iframe>
    </div>
</div>
<script type="text/javascript", src="/jquery/dist/jquery.js"></script>
<script type="text/javascript", src="/javascripts/projectmanagement.js"></script>
</body>
</html>