<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet", href="/stylesheets/projectinformationpage.css">
    <script type="text/javascript", src="/javascripts/jquery.js"></script>
    <script type="text/javascript", src="/javascripts/projectmanagement.js"></script>
</head>
<body>
   <div id = "main-content">
     <div id = "left-nav">
         <ul id = "nav-ul">
             <li id = "nav-create-li" class = "nav-li" value="1"> 新&nbsp &nbsp &nbsp建</li>
             <li id = "nav-check-li" class = "nav-li" value="2"> 查&nbsp &nbsp &nbsp看</li>
         </ul>
     </div>
     <div id= "right-content">
       <iframe id = "dynamic-frame", frameborder = 0 
         scrolling = no></iframe>
     </div>
   </div>
</body>
</html>